@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}